<div class="container mt-3 p-3 border border-2 border-danger bg-warning bg-opacity-25">

    <h2 class="text-center mb-3">My Todo List</h2>
    

    <div class="border mx-5 px-5 py-3 border-dark border-2 bg-light">
        <app-add-todo 
            (todoAdd)="addTodo($event)" 
        >
        </app-add-todo>
    </div>

    <div class="border m-5 px-5 py-3 border-dark border-2 bg-light">
        
        <h3 class="text-center text-primary">Your Todos</h3>

        <div *ngIf="this.todos.length === 0; else elseBlock">
            <div class="alert alert-warning" role="alert">
                No Todo to display ! Add Todo...
            </div>
        </div>
        <ng-template #elseBlock>
            <div *ngFor="let todo of todos">
                <div class="border border-2 p-3">
                    <app-todo-list [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-list>
                </div>
            </div>
        </ng-template>

    </div>

<!-- *ngIf is a directive -->
<!-- *ngFor is a directive -->

</div>