<div class="container my-4 bg-warning bg-opacity-25 p-5">

    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Congratulations!</strong> You have created your first Angular App.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="card text-center">
        <div class="card-header">
          Angular Application
        </div>
        <div class="card-body">
          <h3 class="card-title my-2">Welcome to About Page</h3>
          <p class="card-text my-4">This section will show about the owners and producers of this application. 
              <br>
              Thank you for using this application.
          </p>
          <a routerLink="/" class="btn btn-primary">Go to Home</a>
        </div>
      </div>

</div>